{% extends 'base.html' %}

{% block maincontent %}
<img src = "{{ MEDIA_URL }}images/Flow/flow{{ work.status }}h.png" style="margin-left: 22%"> </img>


<div class="filler"></div>
<div style="width:60%;float: left;">

<div class="filler"></div>
<div style="width:60%;float: left;">
    <table border="none" >

        <div id = "Addworkform" >

            <div id = "filler"></div>
            <form id ="addwork" action="" method="POST" >
                {% csrf_token %}
                {% for field in form %}
                <tr>
                    <td id="zx"><span >{{ field.label }}</span></td>
                    <td id="zx"><span >{{ field }}</span></td>
                    <td id="zx"> <span class="errors">{{ field.errors }}</span></td>


                </tr>

                {% endfor %}
    </table>
    <p><input type="submit" value="Submit"></p>
    </form>
</div>
<br/><br/>
</div>

{% endblock %}