{% extends 'base.html' %}


{% block maincontent %}
<script type="text/javascript">
    var a = {{ result }}

</script>
<div class = "navigation">
    <ul class="top-level">
    </ul>
</div>
<div class = content>
    <p> Username : {{ request.user.username }} <br/>
        First Name: {{ request.user.first_name }} <br/>
        Last Name: {{ request.user.last_name }} <br/>
        Email_id: {{ request.user.email }} <br/>
        Last Login: {{ request.user.last_login }}</p>
    <a href ="../admin/">Click here to edit your profile</a>
</div>

<div class = result style="margin-left:22%;"><table>
    {% for label,value in result.items %}
    <tr><td>{{ label }} </td><td><a href="../results/{{forloop.counter}}/">{{value}}</a></td></tr>
    {% endfor %}</table>
</div>


{% endblock %}